<div *ngIf="showCrear" style="height:50%;width:100%;padding:20px;padding-left:0px">
  <div style="font-size:25px;color:#444">
    Empresas <span style="font-size:16px;color:#999"> - Crear cuenta</span>
  </div>

  <div style="margin-top:20px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Nombre de la empresa:
    </div>
    <div style="border-radius:1px;margin-top:20px;padding:4px;border:1px solid #eee;background:white">
      <input type="text" placeholder="Ej: Joopiter Company" [(ngModel)]="nombre"
        style="width:350px;background:white" />
    </div>
  </div>

  <input style="display:none" type="file" (change)="onFileSelected($event)" #fileInput>

  <div style="margin-top:20px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Imágen de perfil:
    </div>
    <div style="margin-top:5px;">

      <div *ngIf="!isUploadedImg && !isLoadingImage" (click)="fileInput.click()"
        style="position:relative;width:80px;height:80px;border:1px solid #e2e2e2;display:flex;align-items:center;justify-content:center;background:white">
        <i class="far fa-images" style="font-size:30px;color:#bbb"></i>
        <i class="fas fa-plus-circle" style="position:absolute;bottom:-10px;right:25px;color:#999;font-size:24px"></i>
      </div>

      <div *ngIf="isUploadedImg == true">
        <img [src]="imagen.url" style="width:80px;height:80px;border-radius:0px;object-fit:cover">
      </div>

    </div>
  </div>


  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Teléfono:
    </div>
    <div
      style="margin-top:20px;padding:4px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;background:white">
      <div style="background:#eee;color:#555;padding:3px">
        +56 9
      </div>
      <input type="tel" placeholder="Teléfono" [(ngModel)]="telefono" />
    </div>
  </div>

  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Dirección de email:
    </div>
    <div style="border-radius:1px;margin-top:20px;padding:4px;border:1px solid #eee;background:white">
      <input type="text" placeholder="ejemplo@gmail.com" [(ngModel)]="email" style="width:350px;background:white" />
    </div>
  </div>

  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Crea una contraseña:
    </div>
    <div style="border-radius:1px;margin-top:20px;padding:4px;border:1px solid #eee;background:white">
      <input type="text" placeholder="******" [(ngModel)]="password_1" style="width:350px;background:white" />
    </div>
  </div>

  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Confirmar contras.:
    </div>
    <div style="border-radius:1px;margin-top:20px;padding:4px;border:1px solid #eee;background:white">
      <input type="text" placeholder="******" [(ngModel)]="password_2" style="width:350px;background:white" />
    </div>
  </div>


  <div *ngIf="error_limite" style="margin-left:50px;margin-top:10px;color:red">
    El campo "Límite de usos" debe ser un número.
  </div>
  <div *ngIf="error_info_incompleta" style="margin-left:50px;margin-top:10px;color:red">
    Se deben completar todos los campos.
  </div>

  <div style="margin-top:30px;margin-left:170px;display:flex;align-items:center;">

    <button (click)="showTabla = true; showCrear = false" type="button" class="btn btn-outline-primary"
      style="margin-right: 30px">
      Cancelar
    </button>
    <button (click)="crearHandler()" type="button" class="btn btn-primary">
      Crear cupón
    </button>
  </div>

</div>







<div *ngIf="showTabla" style="margin-top:15px">

  <div style="font-size:25px;color:#444">
    Empresas <span style="font-size:16px;color:#999"> - Información general</span>
  </div>

  <div style="padding:15px;display:flex;justify-content:flex-end">

    <a (click)="showFiltros = true"
      style="background:#eee;width:45px;height:45px;border-radius:50%;display:flex;align-items:center;justify-content:center">
      <i class="fas fa-filter" style="font-size:20px;color:#bbb"></i>
    </a>
    <a (click)="showBusqueda = true"
      style="margin-left:20px;background:#eee;width:45px;height:45px;border-radius:50%;display:flex;align-items:center;justify-content:center">
      <i class="fas fa-search" style="font-size:20px;color:#bbb"></i>
    </a>
    <a (click)="showCrear = true; showTabla = false"
      style="margin-left:20px;background:#eee;width:45px;height:45px;border-radius:50%;display:flex;align-items:center;justify-content:center">
      <i class="fas fa-plus" style="font-size:20px;color:#bbb"></i>
    </a>

  </div>



  <table class="table" *ngIf="isEmpresas">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col">Registrado</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas; let i = index">
        <th scope="row"> {{i + 1}} </th>
        <td style="text-transform:capitalize"> {{empresa.nombre}} </td>
        <td> {{empresa.telefono}} </td>
        <td> {{empresa.email}} </td>
        <td> 12-08-2019 </td>

        <td>
          <button *ngIf="empresa.isActive" (click)="toggleAccount(empresa)" class="btn btn-primary btn-sm">
            Desactivar
          </button>

          <button *ngIf="!empresa.isActive" (click)="toggleAccount(empresa)" class="btn btn-outline-primary btn-sm">
            Activar
          </button>
        </td>
      </tr>
    </tbody>
  </table>


  <table class="table" *ngIf="isBusqueda">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> 1 </th>
        <td style="text-transform:capitalize"> {{empresa.nombre}} </td>
        <td> {{empresa.telefono}} </td>
        <td> {{empresa.email}} </td>
        <td>
          <button *ngIf="empresa.isActive" (click)="toggleAccountFromBusqueda(empresa)" class="btn btn-primary btn-sm">
            Desactivar
          </button>

          <button *ngIf="!empresa.isActive" (click)="toggleAccountFromBusqueda(empresa)"
            class="btn btn-outline-primary btn-sm">
            Activar
          </button>
        </td>
      </tr>
    </tbody>
  </table>



  <table class="table" *ngIf="isBusqueda">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Rider</th>
        <th scope="col">Fecha</th>
        <th scope="col">Medio de pago</th>
        <th scope="col">Costo</th>
        <th scope="col">Distancia</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos; let i = index">
        <th scope="row"> {{i + 1}} </th>
        <td style="text-transform:capitalize"> {{pedido.rider.nombre}} </td>
        <td> {{pedido.fecha}} </td>
        <td> {{pedido.metodoPago}} </td>
        <td> {{pedido.costo}} </td>
        <td> {{pedido.distancia / 1000}} km </td>
        <td>
          Detalles
        </td>
      </tr>
    </tbody>
  </table>


</div>










<div *ngIf="showFiltros"
  style="z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;">
  <div
    style="position:relative;padding:40px;padding-left:40px;padding-right:60px;background:white;box-shadow: 0 0 15px #999;border-radius:4px">
    <div (click)="close_filtros()" style="position:absolute;top:-5px;right:-5px;color:#555">
      <i class="fas fa-times-circle" style="font-size:32px"></i>
    </div>
    <div style="display:flex;align-items:center;font-weight:550">
      <i class="fas fa-filter" style="font-size:30px;color:#bbb;margin-right:10px"></i>
      Filtros
    </div>

    <div style="margin-top:20px">
      Cuenta
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label (click)="filtro.cuenta = 'activada'" class="btn btn-light"
        [ngClass]="{'active': filtro.cuenta == 'activada'}">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Activada
      </label>
      <label (click)="filtro.cuenta = 'desactivada'" class="btn btn-light"
        [ngClass]="{'active': filtro.cuenta == 'desactivada'}">
        <input type="radio" name="options" id="option2" autocomplete="off"> Desactivada
      </label>
      <label (click)="filtro.cuenta = 'todo'" class="btn btn-light" [ngClass]="{'active': filtro.cuenta == 'todo'}">
        <input type="radio" name="options" id="option3" autocomplete="off"> Todo
      </label>
    </div>

    <div style="margin-top:30px"></div>

    <button (click)="filtrar()" type="button" class="btn btn-outline-primary btn-block">
      Aplicar filtros
    </button>

  </div>
</div>







<div *ngIf="showBusqueda"
  style="z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;">
  <div
    style="position:relative;padding:40px;padding-left:40px;padding-right:60px;background:white;box-shadow: 0 0 15px #999;border-radius:4px">
    <div (click)="close_busqueda()" style="position:absolute;top:-5px;right:-5px;color:#555">
      <i class="fas fa-times-circle" style="font-size:32px"></i>
    </div>
    <div style="display:flex;align-items:center;font-weight:550">
      <i class="fas fa-search" style="font-size:30px;color:#bbb;margin-right:10px"></i>
      Búsqueda
    </div>
    <div style="margin-top:20px">
      Teléfono
    </div>
    <div
      style="margin-top:0px;padding:4px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;width:400px">
      <div style="background:#eee;color:#555;padding:3px;">
        +56 9
      </div>
      <input type="tel" placeholder="" [(ngModel)]="filtro_telefono.telefono" />
    </div>
    <div style="margin-top:20px">
      Periodo
    </div>
    <div style="display:flex;border:1px solid #eee;padding:5px">
      <div style="border-right:1px solid #eee;padding:7px;padding-top:0px;padding-bottom:0px">
        <div style="font-size:14px;margin-bottom:-5px;">
          Inicio
        </div>
        <div>
          <i class="far fa-calendar" style="color:#bbb;margin-right:5px"></i>
          <input id="date" type="date" [(ngModel)]="filtro_telefono.inicio" />
        </div>
      </div>
      <div style="padding:7px;padding-top:0px;padding-bottom:0px">
        <div style="font-size:14px;margin-bottom:-5px;">
          Término
        </div>
        <div>
          <i class="far fa-calendar" style="color:#bbb;margin-right:5px"></i>
          <input id="date" type="date" [(ngModel)]="filtro_telefono.termino" />
        </div>
      </div>
    </div>
    <div style="margin-top:30px"></div>

    <button (click)="buscar()" type="button" class="btn btn-outline-primary btn-block">
      Buscar rider
    </button>
  </div>
</div>





<div *ngIf="false"
  style="overflow-y:scroll;z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:flex-start;justify-content:center;">
  <div
    style="margin-top:25px;margin-bottom:30px;position:relative;padding:40px;padding-left:60px;padding-right:60px;width:500px;background:white;box-shadow: 0 0 15px #999;border-radius:4px;">
    <div (click)="close_crear()" style="position:absolute;top:-5px;right:-5px;color:#555">
      <i class="fas fa-times-circle" style="font-size:32px"></i>
    </div>
    <div style="display:flex;align-items:center;font-weight:550">
      <i class="fas fa-user-circle" style="font-size:30px;color:#bbb;margin-right:10px"></i>
      Nueva empresa
    </div>

    <div style="margin-top:20px;color:#666">
      Agregar imagen:
    </div>

    <input style="display:none" type="file" (change)="onFileSelected($event)" #fileInput>

    <div style="margin-top:5px;width:100%;display:flex;justify-content:center">

      <div *ngIf="!isUploadedImg && !isLoadingImage" (click)="fileInput.click()"
        style="position:relative;width:80px;height:80px;border:1px solid #eee;display:flex;align-items:center;justify-content:center">
        <i class="far fa-images" style="font-size:30px;color:#bbb"></i>
        <i class="fas fa-plus-circle" style="position:absolute;bottom:-10px;right:25px;color:#999;font-size:24px"></i>
      </div>

      <div *ngIf="isUploadedImg">
        <img [src]="imagen.url" style="width:80px;height:80px;border-radius:0px;object-fit:cover">
      </div>

    </div>

    <div style="border-radius:4px;margin-top:20px;padding:4px;border:1px solid #eee">
      <input type="text" placeholder="Nombre de la empresa" [(ngModel)]="nombre" style="text-transform:capitalize" />
    </div>

    <div style="border-radius:4px;margin-top:20px;padding:4px;border:1px solid #eee">
      <input type="email" placeholder="Email" [(ngModel)]="email" />
    </div>
    <div *ngIf="error_email_no_valido" style="margin-top:5px;color:red">
      Email no válido
    </div>
    <div style="margin-top:20px;padding:4px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center">
      <div style="background:#eee;color:#555;padding:3px">
        +56 9
      </div>
      <input type="tel" placeholder="Teléfono" [(ngModel)]="telefono" />
    </div>
    <div *ngIf="error_8_digitos_telefono" style="margin-top:5px;color:red">
      Deben ser 8 digitos
    </div>
    <div *ngIf="error_num_telefono" style="margin-top:5px;color:red">
      Deben ser solo números
    </div>
    <div style="border-radius:4px;margin-top:20px;padding:4px;border:1px solid #eee">
      <input type="password" placeholder="Crear una contraseña" [(ngModel)]="password_1" />
    </div>
    <div style="border-radius:4px;margin-top:20px;padding:4px;border:1px solid #eee">
      <input type="password" placeholder="Confirmar contraseña" [(ngModel)]="password_2" />
    </div>
    <div *ngIf="error_password" style="margin-top:5px;color:red">
      Las contraseñas deben ser idénticas
    </div>
    <div *ngIf="error_imagen" style="margin-top:15px;color:red">
      Debe seleccionar una imágen
    </div>
    <div *ngIf="error_info_incompleta" style="margin-top:15px;color:red">
      Por favor completar todos los campos
    </div>
    <div *ngIf="error_telefono_existe" style="margin-top:15px;color:red">
      Este teléfono ya está registrado
    </div>

    <div style="margin-top:20px;"></div>

    <button (click)="crearEmpresa()" type="button" class="btn btn-outline-primary btn-block">
      Crear cuenta
    </button>
  </div>
</div>