<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" style="color:white">
    <div class="d-inline-block align-top"
      style="padding:0px;padding-left:10px;padding-right:10px;border-radius:6px;border:1px solid white;color:white;font-size:25px;">
      B
    </div>
    Beat
  </a> -->
  <a class="navbar-brand" style="color:white">Dashboard</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="isAuth" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="openPage('home')">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openPage('operarios')">Riders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openPage('empresas')">Empresas</a>
      </li>
    </ul>

    <ul *ngIf="!isAuth" class="navbar-nav mr-auto">
    </ul>

    <!-- <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" (click)="salir()">Salir</a>
      </li>      
    </ul> -->
    <button *ngIf="isAuth" class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Salir
    </button>

    <button *ngIf="!isAuth" class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Iniciar sesión
    </button>

  </div>
</nav>