<div style="margin-top:15px;background:white;box-shadow: 0 0 15px #bbb;border-radius:6px">

  <!-- <div
    style="border-radius:6px 6px 0px 0px;color:white;background:dodgerblue;padding:20px;font-weight:550;font-size:20px">
    Riders
  </div> -->


  <div style="padding:15px;display:flex;">

    <a (click)="showFiltros = true"
      style="background:#eee;width:45px;height:45px;border-radius:50%;display:flex;align-items:center;justify-content:center">
      <i class="fas fa-filter" style="font-size:20px;color:#bbb"></i>
    </a>
    <a (click)="showBusqueda = true"
      style="margin-left:20px;background:#eee;width:45px;height:45px;border-radius:50%;display:flex;align-items:center;justify-content:center">
      <i class="fas fa-search" style="font-size:20px;color:#bbb"></i>
    </a>
    <a (click)="showCrear = true"
      style="margin-left:20px;background:#eee;width:45px;height:45px;border-radius:50%;display:flex;align-items:center;justify-content:center">
      <i class="fas fa-plus" style="font-size:20px;color:#bbb"></i>
    </a>

  </div>


  <!-- <div style="width:100%;text-align:right;margin-bottom:5px;padding-right:15px;color:#666">
    {{periodo.inicio}} al {{periodo.termino}}
  </div> -->

  <table class="table" *ngIf="isRiders">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Valoración</th>
        <th scope="col">Vehículo</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Relación</th>
        <th scope="col">Activo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rider of riders; let i = index">
        <th scope="row"> {{i + 1}} </th>
        <td style="text-transform:capitalize"> {{rider.nombre}} </td>
        <td *ngIf="rider.stats">
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 1"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 1.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 2"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 2.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 3"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 3.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 4"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 4.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider?.stats.startsAvg >= 5"></i>
          {{rider.stats.startsAvg}}
        </td>
        <td> {{rider.vehiculo}} </td>
        <td> {{rider.telefono}} </td>
        <td> {{rider.relacion}} </td>
        <td>
          <i (click)="toggleAccount(rider)" *ngIf="!rider.isActive" class="fas fa-toggle-off"
            style="color:#bbb;font-size:24px"></i>
          <i (click)="toggleAccount(rider)" *ngIf="rider.isActive" class="fas fa-toggle-on"
            style="color:dodgerblue;font-size:24px"></i>
        </td>
      </tr>
    </tbody>
  </table>



  <table class="table" *ngIf="isBusqueda">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Valoración</th>
        <th scope="col">Vehículo</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Relación</th>
        <th scope="col">Activo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> 1 </th>
        <td style="text-transform:capitalize"> {{rider.nombre}} </td>
        <td *ngIf="rider.stats">
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 1"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 1.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 2"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 2.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 3"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 3.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 4"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 4.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider?.stats.startsAvg >= 5"></i>
          {{rider.stats.startsAvg}}
        </td>
        <td> {{rider.vehiculo}} </td>
        <td> {{rider.telefono}} </td>
        <td> {{rider.relacion}} </td>
        <td>
          <i (click)="toggleAccountFromBusqueda(rider)" *ngIf="!rider.isActive" class="fas fa-toggle-off"
            style="color:#bbb;font-size:24px"></i>
          <i (click)="toggleAccountFromBusqueda(rider)" *ngIf="rider.isActive" class="fas fa-toggle-on"
            style="color:dodgerblue;font-size:24px"></i>
        </td>
      </tr>
    </tbody>
  </table>



  <table class="table" *ngIf="isBusqueda">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Tipo</th>
        <th scope="col">Fecha</th>
        <th scope="col">Medio de pago</th>
        <th scope="col">Costo</th>
        <th scope="col">Distancia</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos; let i = index">
        <th scope="row"> {{i + 1}} </th>
        <td style="text-transform:capitalize"> {{pedido.cliente.nombre}} </td>
        <td>
          <div *ngIf="pedido.cliente.role == 'EMPRESA_ROLE'">
            Empresa
          </div>
          <div *ngIf="pedido.cliente.role == 'USUARIO_ROLE'">
            Usuario
          </div>
        </td>
        <td> {{pedido.fecha}} </td>
        <td> {{pedido.metodoPago}} </td>
        <td> {{pedido.costo}} </td>
        <td> {{pedido.distancia / 1000}} km </td>
        <td>
          Detalles
        </td>
      </tr>
    </tbody>
  </table>


</div>










<div *ngIf="showFiltros"
  style="z-index:990;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;">
  <div
    style="position:relative;padding:40px;padding-left:40px;padding-right:60px;background:white;box-shadow: 0 0 15px #999;border-radius:4px">
    <div (click)="close_filtros()" style="position:absolute;top:-5px;right:-5px;color:#555">
      <i class="fas fa-times-circle" style="font-size:32px"></i>
    </div>
    <div style="display:flex;align-items:center;font-weight:550">
      <i class="fas fa-filter" style="font-size:30px;color:#bbb;margin-right:10px"></i>
      Filtros
    </div>

    <div style="margin-top:20px">
      Tipo de vehículo
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label (click)="filtro.vehiculo = 'Bicicleta'" class="btn btn-light"
        [ngClass]="{'active': filtro.vehiculo == 'Bicicleta'}">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Bicicleta
      </label>
      <label (click)="filtro.vehiculo = 'Moto'" class="btn btn-light" [ngClass]="{'active': filtro.vehiculo == 'Moto'}">
        <input type="radio" name="options" id="option2" autocomplete="off"> Moto
      </label>
      <label (click)="filtro.vehiculo = 'todo'" class="btn btn-light" [ngClass]="{'active': filtro.vehiculo == 'todo'}">
        <input type="radio" name="options" id="option3" autocomplete="off"> Todo
      </label>
    </div>

    <div style="margin-top:20px">
      Tipo de relación
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label (click)="filtro.relacion = 'Contrato'" class="btn btn-light"
        [ngClass]="{'active': filtro.relacion == 'Contrato'}">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Contrato
      </label>
      <label (click)="filtro.relacion = 'Prestación de servicio'" class="btn btn-light"
        [ngClass]="{'active': filtro.relacion == 'Prestación de servicio'}">
        <input type="radio" name="options" id="option2" autocomplete="off"> Prestación de servicio
      </label>
      <label (click)="filtro.relacion = 'todo'" class="btn btn-light" [ngClass]="{'active': filtro.relacion == 'todo'}">
        <input type="radio" name="options" id="option3" autocomplete="off"> Todo
      </label>
    </div>

    <div style="margin-top:20px">
      Cuenta
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label (click)="filtro.cuenta = 'activada'" class="btn btn-light"
        [ngClass]="{'active': filtro.cuenta == 'activada'}">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Activada
      </label>
      <label (click)="filtro.cuenta = 'desactivada'" class="btn btn-light"
        [ngClass]="{'active': filtro.cuenta == 'desactivada'}">
        <input type="radio" name="options" id="option2" autocomplete="off"> Desactivada
      </label>
      <label (click)="filtro.cuenta = 'todo'" class="btn btn-light" [ngClass]="{'active': filtro.cuenta == 'todo'}">
        <input type="radio" name="options" id="option3" autocomplete="off"> Todo
      </label>
    </div>

    <div style="margin-top:30px"></div>

    <button (click)="filtrar()" type="button" class="btn btn-outline-primary btn-block">
      Aplicar filtros
    </button>

  </div>
</div>







<div *ngIf="showBusqueda"
  style="z-index:990;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;">
  <div
    style="position:relative;padding:40px;padding-left:40px;padding-right:60px;background:white;box-shadow: 0 0 15px #999;border-radius:4px">
    <div (click)="close_busqueda()" style="position:absolute;top:-5px;right:-5px;color:#555">
      <i class="fas fa-times-circle" style="font-size:32px"></i>
    </div>
    <div style="display:flex;align-items:center;font-weight:550">
      <i class="fas fa-search" style="font-size:30px;color:#bbb;margin-right:10px"></i>
      Búsqueda
    </div>
    <div style="margin-top:20px">
      Teléfono
    </div>
    <div
      style="margin-top:0px;padding:4px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;width:400px">
      <div style="background:#eee;color:#555;padding:3px">
        +56 9
      </div>
      <input type="tel" placeholder="" [(ngModel)]="filtro_telefono.telefono" />
    </div>
    <div style="margin-top:20px">
      Periodo
    </div>
    <div style="display:flex;border:1px solid #eee;padding:5px">
      <div style="border-right:1px solid #eee;padding:7px;padding-top:0px;padding-bottom:0px">
        <div style="font-size:14px;margin-bottom:-5px;">
          Inicio
        </div>
        <div>
          <i class="far fa-calendar" style="color:#bbb;margin-right:5px"></i>
          <input id="date" type="date" [(ngModel)]="filtro_telefono.inicio" />
        </div>
      </div>
      <div style="padding:7px;padding-top:0px;padding-bottom:0px">
        <div style="font-size:14px;margin-bottom:-5px;">
          Término
        </div>
        <div>
          <i class="far fa-calendar" style="color:#bbb;margin-right:5px"></i>
          <input id="date" type="date" [(ngModel)]="filtro_telefono.termino" />
        </div>
      </div>
    </div>
    <div style="margin-top:30px"></div>

    <button (click)="buscar()" type="button" class="btn btn-outline-primary btn-block">
      Buscar rider
    </button>
  </div>
</div>





<div *ngIf="showCrear"
  style="overflow-y:scroll;z-index:990;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:flex-start;justify-content:center;">
  <div
    style="margin-top:25px;margin-bottom:30px;position:relative;padding:40px;padding-left:60px;padding-right:60px;width:500px;background:white;box-shadow: 0 0 15px #999;border-radius:4px;">
    <div (click)="close_crear()" style="position:absolute;top:-5px;right:-5px;color:#555">
      <i class="fas fa-times-circle" style="font-size:32px"></i>
    </div>
    <div style="display:flex;align-items:center;font-weight:550">
      <i class="fas fa-user-circle" style="font-size:30px;color:#bbb;margin-right:10px"></i>
      Nuevo Rider
    </div>

    <div style="margin-top:20px;color:#666">
      Agregar imagen:
    </div>

    <input style="display:none" type="file" (change)="onFileSelected($event)" #fileInput>

    <div style="margin-top:5px;width:100%;display:flex;justify-content:center">

      <div *ngIf="!isUploadedImg && !isLoadingImage" (click)="fileInput.click()"
        style="position:relative;width:80px;height:80px;border:1px solid #eee;display:flex;align-items:center;justify-content:center">
        <i class="far fa-images" style="font-size:30px;color:#bbb"></i>
        <i class="fas fa-plus-circle" style="position:absolute;bottom:-10px;right:25px;color:#999;font-size:24px"></i>
      </div>

      <div *ngIf="isUploadedImg == true">
        <img [src]="imagen.url" style="width:80px;height:80px;border-radius:0px;object-fit:cover">
      </div>

    </div>

    <div style="margin-top:25px;display:flex;align-items:center">
      <div style="color:#666;margin-right:20px">
        Vehículo:
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{vehiculo}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="vehiculo = 'Bicicleta'">Bicicleta</a>
          <a class="dropdown-item" (click)="vehiculo = 'Moto'">Moto</a>
        </div>
      </div>
    </div>

    <div style="margin-top:10px;display:flex;align-items:center">
      <div style="color:#666;margin-right:20px">
        Relación:
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{relacion}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="relacion = 'Contrato'">Contrato</a>
          <a class="dropdown-item" (click)="relacion = 'Prestación de servicios'">Prestación de servicios</a>
        </div>
      </div>
    </div>

    <div style="border-radius:4px;margin-top:20px;padding:4px;border:1px solid #eee">
      <input type="text" placeholder="Nombre" [(ngModel)]="nombre" style="text-transform:capitalize" />
    </div>

    <div style="border-radius:4px;margin-top:20px;padding:4px;border:1px solid #eee">
      <input type="email" placeholder="Email" [(ngModel)]="email" />
    </div>
    <div style="margin-top:20px;padding:4px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center">
      <div style="background:#eee;color:#555;padding:3px">
        +56 9
      </div>
      <input type="tel" placeholder="Teléfono" [(ngModel)]="telefono" />
    </div>
    <div *ngIf="error_8_digitos_telefono" style="margin-top:5px;color:red">
      Deben ser 8 digitos
    </div>
    <div *ngIf="error_num_telefono" style="margin-top:5px;color:red">
      Deben ser solo números
    </div>
    <div style="border-radius:4px;margin-top:20px;padding:4px;border:1px solid #eee">
      <input type="password" placeholder="Crear una contraseña" [(ngModel)]="password_1" />
    </div>
    <div style="border-radius:4px;margin-top:20px;padding:4px;border:1px solid #eee">
      <input type="password" placeholder="Confirmar contraseña" [(ngModel)]="password_2" />
    </div>
    <div *ngIf="error_password" style="margin-top:5px;color:red">
      Las contraseñas deben ser idénticas
    </div>
    <div *ngIf="error_vehiculo" style="margin-top:15px;color:red">
      Debe seleccionar un vehículo
    </div>
    <div *ngIf="error_email_no_valido" style="margin-top:15px;color:red">
      Email no válido
    </div>
    <div *ngIf="error_relacion" style="margin-top:15px;color:red">
      Debe seleccionar un tipo de relación
    </div>
    <div *ngIf="error_imagen" style="margin-top:15px;color:red">
      Debe seleccionar una imágen
    </div>
    <div *ngIf="error_info_incompleta" style="margin-top:15px;color:red">
      Por favor completar todos los campos
    </div>
    <div *ngIf="error_telefono_existe" style="margin-top:15px;color:red">
      Este teléfono ya está registrado
    </div>

    <div style="margin-top:20px;"></div>

    <button (click)="crearRider()" type="button" class="btn btn-outline-primary btn-block">
      Crear cuenta
    </button>

  </div>
</div>



<div *ngIf="isLoading"
  style="z-index:999;background:rgb(50,50,50,0.5);position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>