<div *ngIf="showCrear" style="height:50%;width:100%;padding:20px;padding-left:0px">
  <div style="font-size:25px;color:#444">
    <a (click)="showTabla = true; showCrear = false">
      <i class="fas fa-arrow-left" style="margin-right:10px"></i>
    </a>
    Crear <span style="font-size:16px;color:#999"> - una cuenta de rider</span>
  </div>

  <div style="margin-top:20px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Nombre:
    </div>
    <div style="border-radius:1px;margin-top:20px;padding:4px;border:1px solid #eee;background:white">
      <input type="text" placeholder="Eduardo" [(ngModel)]="nombre" style="text-transform:capitalize;width:350px;background:white" />
    </div>
    <div *ngIf="nombre" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>

  <div style="margin-top:20px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Apellido:
    </div>
    <div style="border-radius:1px;margin-top:20px;padding:4px;border:1px solid #eee;background:white">
      <input type="text" placeholder="Garrido" [(ngModel)]="apellido" style="text-transform:capitalize;width:350px;background:white" />
    </div>
    <div *ngIf="apellido" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>

  <input style="display:none" type="file" (change)="onFileSelected($event)" #fileInput>

  <div style="margin-top:20px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Imágen de perfil:
    </div>
    <div style="margin-top:5px;">
      <div *ngIf="!isUploadedImg && !isLoadingImage" (click)="fileInput.click()"
        style="position:relative;width:80px;height:80px;border:1px solid #e2e2e2;display:flex;align-items:center;justify-content:center;background:white">
        <i class="far fa-images" style="font-size:30px;color:#bbb"></i>
        <i class="fas fa-plus-circle" style="position:absolute;bottom:-10px;right:25px;color:#999;font-size:24px"></i>
      </div>
      <div *ngIf="isUploadedImg == true">
        <img [src]="imagen.url" style="width:80px;height:80px;border-radius:0px;object-fit:cover">
      </div>
    </div>
    <div *ngIf="isImagen" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>


  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Vehículo:
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" [ngStyle]="{'color': vehiculo == 'Seleccionar' ? '#888': '#333'}"
        style="border-radius:1px;margin-top:20px;padding:8px;border:1px solid #eee;background:white;width:360px;display:flex;justify-content:space-between;align-items:center">
        {{vehiculo}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a (click)="vehiculo = 'Auto'; isVehiculo = true" class="dropdown-item">
          <div style="color:gray">Automóvil</div>
        </a>
        <a (click)="vehiculo = 'Bicicleta'; isVehiculo = true" class="dropdown-item">
          <div style="color:gray">Bicicleta</div>
        </a>
        <a (click)="vehiculo = 'Moto'; isVehiculo = true" class="dropdown-item">
          <div style="color:gray">Moto</div>
        </a>
      </div>
    </div>
    <div *ngIf="isVehiculo" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>


  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Modalidad:
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" [ngStyle]="{'color': modalidad == 'Seleccionar' ? '#888': '#333'}"
        style="border-radius:1px;margin-top:20px;padding:8px;border:1px solid #eee;background:white;width:360px;display:flex;justify-content:space-between;align-items:center">
        {{modalidad}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a (click)="modalidad = 'Turnos rotativos'; isModalidad = true" class="dropdown-item">
          <div style="color:gray">Turnos rotativos</div>
        </a>
        <a (click)="modalidad = 'Conexión y desconexión libre'; isModalidad = true" class="dropdown-item">
          <div style="color:gray">Conexión y desconexión libre a la plataforma</div>
        </a>
      </div>
    </div>
    <div *ngIf="isModalidad" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>


  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Teléfono:
    </div>
    <div
      style="width:360px;margin-top:20px;padding:4px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;background:white">
      <div style="color:#555;padding:3px">
        +56
      </div>
      <input (ngModelChange)="validarTelefono()" type="tel" placeholder="Teléfono" [(ngModel)]="telefono" />
    </div>
    <div *ngIf="isTelefono" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>

  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Dirección de email:
    </div>
    <div style="border-radius:1px;margin-top:20px;padding:4px;border:1px solid #eee;background:white">
      <input (ngModelChange)="validarEmail()" type="text" placeholder="ejemplo@gmail.com" [(ngModel)]="email"
        style="width:350px;background:white" />
    </div>
    <div *ngIf="isEmail" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>

  <div *ngIf="error_info_incompleta" style="margin-left:50px;margin-top:10px;color:red">
    Se deben completar todos los campos.
  </div>

  <div style="margin-top:30px;margin-left:170px;display:flex;align-items:center;">
    <button (click)="crearHandler()" type="button" class="btn btn-primary">
      Crear cuenta
    </button>
  </div>
</div>




<!-- ------------------------------------------------------- -->
<!--              TABLAS DE INFORMACION                      -->
<!-- ------------------------------------------------------- -->



<div *ngIf="showTabla" style="margin-top:15px;">

  <div style="font-size:25px;color:#444">
    Riders <span style="font-size:16px;color:#999"> - Información general</span>
  </div>

  <div style="padding:15px;padding-top:20px;display:flex;justify-content:space-between;align-items:center;">

    <div style="display:flex">
      <div class="nav-item dropdown" style="margin-right:15px">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"
          style="color:#777;border-radius:1px;padding:5px;padding-left:10px;border-radius:4px;border:1px solid #eee;background:white;width:160px;display:flex;justify-content:space-between;align-items:center">
          {{vehiculo_filtro}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a (click)="vehiculo_filtro = 'Auto'; getRiders()" class="dropdown-item">
            <div style="color:gray">Auto</div>
          </a>
          <a (click)="vehiculo_filtro = 'Bicicleta'; getRiders()" class="dropdown-item">
            <div style="color:gray">Bicicleta</div>
          </a>
          <a (click)="vehiculo_filtro = 'Moto'; getRiders()" class="dropdown-item">
            <div style="color:gray">Moto</div>
          </a>
        </div>
      </div>

      <div class="nav-item dropdown" style="margin-right:15px">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"
          style="color:#777;border-radius:1px;padding:5px;padding-left:10px;border-radius:4px;border:1px solid #eee;background:white;width:160px;display:flex;justify-content:space-between;align-items:center">
          {{estatus_filtro}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a (click)="estatus_filtro = 'Activo'; getRiders()" class="dropdown-item">
            <div style="color:gray">Activo</div>
          </a>
          <a (click)="estatus_filtro = 'Bloqueado'; getRiders()" class="dropdown-item">
            <div style="color:gray">Bloqueado</div>
          </a>
        </div>
      </div>

      <div class="nav-item dropdown" style="margin-right:15px">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"
          style="color:#777;border-radius:1px;padding:5px;padding-left:10px;border-radius:4px;border:1px solid #eee;background:white;width:160px;display:flex;justify-content:space-between;align-items:center">
          {{modalidad_filtro}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a (click)="modalidad_filtro = 'Turno'; getRiders()" class="dropdown-item">
            <div style="color:gray">Turno</div>
          </a>
          <a (click)="modalidad_filtro = 'Tiempo libre'; getRiders()" class="dropdown-item">
            <div style="color:gray">Tiempo libre</div>
          </a>
        </div>
      </div>
    </div>
    <div style="display:flex;align-items:center;">
      <div
        style="background:white;width:220px;padding:0px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center">
        <div style="color:#333;padding:3px">
          +56
        </div>
        <input type="tel" placeholder="" [(ngModel)]="telefono_buscar" />
        <button (click)="buscarRider()" type="button" class="btn btn-secondary">
          <i class="fas fa-search" style="font-size:18px;color:#fff"></i>
        </button>
      </div>
      <a (click)="showCrear = true; showTabla = false"
        style="margin-left:20px;background:#6c757d;width:45px;height:45px;border-radius:50%;display:flex;align-items:center;justify-content:center">
        <i class="fas fa-plus" style="font-size:20px;color:#fff"></i>
      </a>
    </div>
  </div>

  <table class="table" *ngIf="isRiders" style="border:1px solid #eee">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Valoración</th>
        <th scope="col">Vehículo</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Modalidad</th>
        <th scope="col">Estatus</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rider of riders; let i = index">
        <th scope="row"> {{i + 1}} </th>
        <td style="text-transform:capitalize"> {{rider.nombre}} </td>
        <td *ngIf="rider.stats">
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 1"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 1.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 2"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 2.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 3"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 3.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 4"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 4.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider?.stats.startsAvg >= 5"></i>
          {{rider.stats.startsAvg}}
        </td>
        <td> {{rider.vehiculo}} </td>
        <td> {{rider.telefono}} </td>
        <td>
          <div *ngIf="rider.turnoSet">
            Turno
          </div>
          <div *ngIf="!rider.turnoSet">
            Tiempo libre
          </div>
        </td>
        <td>
          <div *ngIf="rider.isActive" style="color:green">
            Activo
          </div>
          <div *ngIf="!rider.isActive" style="color:red">
            Bloqueado
          </div>
        </td>
        <td>
          <a (click)="toggleAccount(rider)" style="padding:5px">
            <i class="fas fa-exchange-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>



  <table class="table" *ngIf="isBusqueda">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Valoración</th>
        <th scope="col">Vehículo</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Relación</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> 1 </th>
        <td style="text-transform:capitalize"> {{rider.nombre}} </td>
        <td *ngIf="rider.stats">
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 1"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 1.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 2"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 2.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 3"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 3.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider.stats.startsAvg >= 4"></i>
          <i class="fas fa-star-half estrella" *ngIf="rider.stats.startsAvg == 4.5"></i>
          <i class="fas fa-star estrella" *ngIf="rider?.stats.startsAvg >= 5"></i>
          {{rider.stats.startsAvg}}
        </td>
        <td> {{rider.vehiculo}} </td>
        <td> {{rider.telefono}} </td>
        <td> {{rider.relacion}} </td>
        <td>
          <button *ngIf="rider.isActive" (click)="toggleAccountFromBusqueda(rider)" class="btn btn-primary btn-sm">
            Desactivar
          </button>

          <button *ngIf="!rider.isActive" (click)="toggleAccountFromBusqueda(rider)"
            class="btn btn-outline-primary btn-sm">
            Activar
          </button>
        </td>
      </tr>
    </tbody>
  </table>



  <table class="table" *ngIf="isBusqueda">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Tipo</th>
        <th scope="col">Fecha</th>
        <th scope="col">Medio de pago</th>
        <th scope="col">Costo</th>
        <th scope="col">Distancia</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos; let i = index">
        <th scope="row"> {{i + 1}} </th>
        <td style="text-transform:capitalize"> {{pedido.cliente.nombre}} </td>
        <td>
          <div *ngIf="pedido.cliente.role == 'EMPRESA_ROLE'">
            Empresa
          </div>
          <div *ngIf="pedido.cliente.role == 'USUARIO_ROLE'">
            Usuario
          </div>
        </td>
        <td> {{pedido.fecha_creacion}} </td>
        <td> {{pedido.metodoPago}} </td>
        <td> {{pedido.costo}} </td>
        <td> {{pedido.distancia / 1000}} km </td>
        <td>
          Detalles
        </td>
      </tr>
    </tbody>
  </table>


</div>




<div *ngIf="showPassword"
  style="position:fixed;z-index:999;top:0px;left:0px;width:100%;height:100%;background:rgba(1, 10, 10, 0.3);display:flex;align-items:center;justify-content:center">
  <div style="width:280px;background:white;border-radius:4px;padding:20px">
    <div style="width:100%;display:flex;justify-content:flex-end">
      <!-- <i (click)="showReiniciar = false" class="fas fa-unlock-alt" style="font-size:14px;color:#ccc"></i> -->
    </div>
    <div style="margin-top:20px;width:100%;display:flex;justify-content:center">
      <i class="fas fa-unlock-alt" style="font-size:50px;color:slategrey"></i>
    </div>
    <div style="font-size:18px;margin-top:20px;width:100%;color:#333;font-weight:600">
      Contraseña
    </div>
    <div style="width:100%;color:#555;font-size:15px;padding:10px;padding-left:0">
      La contraseña de activación del Rider es: {{passwordRider}}
    </div>
    <div style="display:flex;align-items:center;justify-content:flex-end;margin-top:10px">
      <div (click)="showPassword = false" style="color:#333;margin-right:15px;font-size:12px;font-weight:600">
        ACEPTAR
      </div>
      <!-- <div (click)="reiniciarRider()" style="color:darkblue;font-size:12px;font-weight:600">
        ACEPTAR
      </div> -->
    </div>

  </div>
</div>