<div *ngIf="showCrear" style="height:50%;width:100%;padding:20px;padding-left:0px">
  <div style="font-size:25px;color:#444">
    <a (click)="showTabla = true; showCrear = false">
      <i class="fas fa-arrow-left" style="margin-right:10px"></i>
    </a>
    Crear <span style="font-size:16px;color:#999"> - un código promo</span>
  </div>

  <div style="margin-top:20px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Título:
    </div>
    <div style="border-radius:1px;margin-top:20px;padding:4px;border:1px solid #eee;background:white">
      <input type="text" placeholder="Ej: 100% descto. en tu primer viaje" [(ngModel)]="titulo"
        style="width:350px;background:white" />
    </div>
    <div *ngIf="titulo" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>


  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Descuento:
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" [ngStyle]="{'color': isDescuento ? '#333': '#888'}"
        style="border-radius:1px;margin-top:20px;padding:8px;border:1px solid #eee;background:white;width:360px;display:flex;justify-content:space-between;align-items:center">
        {{descuento}}% de descuento
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a (click)="descuento = 10; isDescuento = true" class="dropdown-item">
          <div style="color:gray">10%</div>
        </a>
        <a (click)="descuento = 15; isDescuento = true" class="dropdown-item">
          <div style="color:gray">15%</div>
        </a>
        <a (click)="descuento = 30; isDescuento = true" class="dropdown-item">
          <div style="color:gray">30%</div>
        </a>
        <a (click)="descuento = 35; isDescuento = true" class="dropdown-item">
          <div style="color:gray">35%</div>
        </a>
        <a (click)="descuento = 50; isDescuento = true" class="dropdown-item">
          <div style="color:gray">50%</div>
        </a>
        <a (click)="descuento = 100; isDescuento = true" class="dropdown-item">
          <div style="color:gray">100%</div>
        </a>
      </div>
    </div>
    <div *ngIf="isDescuento" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>


  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Tope:
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" [ngStyle]="{'color': isTope ? '#333': '#888'}"
        style="border-radius:1px;margin-top:20px;padding:8px;border:1px solid #eee;background:white;width:360px;display:flex;justify-content:space-between;align-items:center">
        Promoción con tope de ${{tope}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a (click)="tope = 2000; isTope = true" class="dropdown-item">
          <div style="color:gray">$2.000</div>
        </a>
        <a (click)="tope = 2500; isTope = true" class="dropdown-item">
          <div style="color:gray">$2.500</div>
        </a>
        <a (click)="tope = 3000; isTope = true" class="dropdown-item">
          <div style="color:gray">$3.000</div>
        </a>
        <a (click)="tope = 3500; isTope = true" class="dropdown-item">
          <div style="color:gray">$3.500</div>
        </a>
        <a (click)="tope = 5000; isTope = true" class="dropdown-item">
          <div style="color:gray">$5.000</div>
        </a>
        <a (click)="tope = 10000; isTope = true" class="dropdown-item">
          <div style="color:gray">$10.000</div>
        </a>
        <a (click)="tope = 20000; isTope = true" class="dropdown-item">
          <div style="color:gray">$20.000</div>
        </a>
      </div>
    </div>
    <div *ngIf="isTope" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>

  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Limite de usos:
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" [ngStyle]="{'color': isLimite ? '#333': '#888'}"
        style="border-radius:1px;margin-top:20px;padding:8px;border:1px solid #eee;background:white;width:360px;display:flex;justify-content:space-between;align-items:center">
        {{limite}} usuarios pueden ingresar el código
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a (click)="limite = 1; isLimite = true" class="dropdown-item">
          <div style="color:gray">1</div>
        </a>
        <a (click)="limite = 10; isLimite = true" class="dropdown-item">
          <div style="color:gray">10</div>
        </a>
        <a (click)="limite = 30; isLimite = true" class="dropdown-item">
          <div style="color:gray">30</div>
        </a>
        <a (click)="limite = 50; isLimite = true" class="dropdown-item">
          <div style="color:gray">50</div>
        </a>
        <a (click)="limite = 100; isLimite = true" class="dropdown-item">
          <div style="color:gray">100</div>
        </a>
        <a (click)="limite = 200; isLimite = true" class="dropdown-item">
          <div style="color:gray">200</div>
        </a>
      </div>
    </div>
    <div *ngIf="isLimite" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>

  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Próximos viajes:
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" [ngStyle]="{'color': isViajes ? '#333': '#888'}"
        style="border-radius:1px;margin-top:20px;padding:8px;border:1px solid #eee;background:white;width:360px;display:flex;justify-content:space-between;align-items:center">
        Válido por {{viajes}} viajes
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a (click)="viajes = 1; isViajes = true" class="dropdown-item">
          <div style="color:gray">1</div>
        </a>
        <a (click)="viajes = 3; isViajes = true" class="dropdown-item">
          <div style="color:gray">3</div>
        </a>
        <a (click)="viajes = 5; isViajes = true" class="dropdown-item">
          <div style="color:gray">5</div>
        </a>
        <a (click)="viajes = 10; isViajes = true" class="dropdown-item">
          <div style="color:gray">10</div>
        </a>
        <a (click)="viajes = 30; isViajes = true" class="dropdown-item">
          <div style="color:gray">30</div>
        </a>
      </div>
    </div>
    <div *ngIf="isViajes" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>

  <div style="margin-top:20px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Vendedor:
    </div>
    <div style="border-radius:1px;margin-top:20px;padding:4px;border:1px solid #eee;background:white">
      <input type="text" placeholder="Ej: Daniel Lethelier (opcional)" [(ngModel)]="vendedor"
        style="width:350px;background:white" />
    </div>
    <div *ngIf="vendedor" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>

  <div style="margin-top:10px;display:flex;align-items:center;">
    <div style="color:#555;font-weight:500;margin-right:20px;width:150px;text-align:right">
      Válido hasta:
    </div>
    <div style="border-radius:1px;margin-top:20px;padding:9px;padding-right:4px;border:1px solid #eee;background:white">
      <input id="date" type="date" [(ngModel)]="termino" style="width:350px;background:white" />
    </div>
    <div *ngIf="termino != '2019-12-10'" style="margin-left:10px">
      <i class="fas fa-check-circle" style="color:limegreen;font-size:18px"></i>
    </div>
  </div>

  <div *ngIf="error_info_incompleta" style="margin-left:50px;margin-top:10px;color:red">
    Se deben completar todos los campos.
  </div>

  <div style="margin-top:30px;margin-left:170px;display:flex;align-items:center;">
    <button (click)="crearHandler()" type="button" class="btn btn-primary">
      Crear cupón
    </button>
  </div>

</div>




<div *ngIf="showTabla" style="margin-top:15px">

  <div style="font-size:25px;color:#444">
    Códigos promo <span style="font-size:16px;color:#999"> - Información general</span>
  </div>


  <div style="padding:15px;padding-top:20px;display:flex;justify-content:space-between;align-items:center;">

    <div style="display:flex">

      <div class="nav-item dropdown" style="margin-right:15px">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"
          style="color:#777;border-radius:1px;padding:5px;padding-left:10px;border-radius:4px;border:1px solid #eee;background:white;width:160px;display:flex;justify-content:space-between;align-items:center">
          {{estatus_filtro}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a (click)="estatus_filtro = 'Activo'; getCodigos()" class="dropdown-item" style="color:gray">
            Activo
          </a>
          <a (click)="estatus_filtro = 'Agotado'; getCodigos()" class="dropdown-item" style="color:gray">
            Agotado
          </a>
          <a (click)="estatus_filtro = 'Desactivado'; getCodigos()" class="dropdown-item" style="color:gray">
            Desactivado
          </a>
          <a (click)="estatus_filtro = 'Vencido'; getCodigos()" class="dropdown-item" style="color:gray">
            Vencido
          </a>
        </div>
      </div>
    </div>
    <div style="display:flex;align-items:center">
      <div
        style="background:white;width:220px;padding:0px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center">
        <input type="tel" placeholder="Código" [(ngModel)]="telefono_buscar" />
        <button (click)="buscarRider()" type="button" class="btn btn-secondary">
          <i class="fas fa-search" style="font-size:18px;color:#fff"></i>
        </button>
      </div>
      <a (click)="showCrear = true; showTabla = false"
        style="margin-left:40px;background:#6c757d;width:45px;height:45px;border-radius:50%;display:flex;align-items:center;justify-content:center">
        <i class="fas fa-plus" style="font-size:20px;color:#fff"></i>
      </a>
    </div>
  </div>

  <table class="table" *ngIf="showCupones" style="border:1px solid #eee">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código</th>
        <th scope="col">Vendedor</th>
        <th scope="col">Usos</th>
        <th scope="col">Viajes</th>
        <th scope="col">Descto.</th>
        <th scope="col">Válido hasta</th>
        <th scope="col">Estatus</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cupon of cupones; let i = index">
        <th scope="row"> {{i + 1}} </th>
        <td style="text-transform:uppercase"> {{cupon.codigo}} </td>
        <!-- <td> {{cupon.titulo}} </td> -->
        <td> Daniel Garcia Fuentes </td>

        <td> {{cupon.veces_usado}}/{{cupon.limite_de_usos}} </td>
        <td> 3</td>
        <td> {{cupon.descuento}}% </td>
        <td> {{cupon.valido_hasta}} </td>
        <td>
          <div *ngIf="!cupon.agotado && !cupon.vencido && cupon.isActive" style="color:green">Activo</div>
          <div *ngIf="!cupon.isActive">Desactivado</div>
          <div *ngIf="cupon.vencido">Vencido</div>
          <div *ngIf="cupon.agotado">Agotado</div>
        </td>
        <td>
          <button (click)="toggleAccount(cupon)" class="btn btn-light btn-sm" style="margin-left:10px">
            <i class="fas fa-trash" style="color:#444"></i>
          </button>
          <button (click)="toggleAccount(cupon)" class="btn btn-light btn-sm" style="margin-left:10px">
            <i class="fas fa-plus" style="color:#444"></i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>

</div>