<div
  style="padding:50px;border-radius:6px;box-shadow:0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03)">

  <div style="color:dodgerblue">
      pimsm@gmail.com
  </div>

  Tipo de cuenta : adiminstrador
  <div style="margin-top:20px">
    Nombre completo
  </div>

  <div style="color:#666;padding:10px;width:300px;border:1px solid #eee;">
      Oscar Garcia Fuentes
    </div>

    <div style="margin-top:30px">
        Dirección de correo
      </div>
    
      <div style="color:#666;padding:10px;width:300px;border:0px solid #eee;">
         poimsm@gmail.com
        </div>


        <div style="color:#666;padding:10px;width:300px;border:0px solid #eee;">
            <button *ngIf="!isLoading" (click)="login()" type="button" class="btn btn-secondary btn-block ">
                Cambiar contraseña
              </button>
           </div>

        
        <div style="color:#666;padding:10px;width:300px;border:0px solid #eee;">
            <button *ngIf="!isLoading" (click)="login()" type="button" class="btn btn-primary btn-block btn-lg">
                Actualizar mis datos
              </button>
           </div>
      


</div>
