<div
  style="padding-left:15px;padding-right:15px;margin-top:0px;display:flex;align-items:flex-start;justify-content:space-between;width:100%">

  <div style="border-radius:3px;border: 1px solid #ccc;;width:430px;padding:15px">

    <div style="width:100%;display:flex;align-items:center;justify-content:space-between">
      <div style="margin-bottom:5px;font-size:18px;color:#444">
        <i class="fas fa-laptop" style="margin-right:5px;color:#555"></i>
        Riders activos mensuales
      </div>
      <i class="fas fa-ellipsis-v" style="color:#555;font-size:18px"></i>
    </div>
    <div class="flex-item">
      <div style="display: block;">
        <canvas baseChart width="400px" height="200" [datasets]="lineChartData" [labels]="lineChartLabels"
          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>



  <div style="border: 1px solid #ccc;height:260px;display:flex;flex-direction:column;justify-content:space-between">

    <div
      style="border-radius:3px;padding:0px;height:45%;width:430px;display:flex;align-items:center;justify-content:space-between">

      <div style="height:100%;width:45%;padding:15px;border-radius:3px">
        <div style="font-size:24px;color:#646C9A;font-weight:600">
          32
        </div>
        <div style="color:#74788d">
          Riders Ocupados
        </div>
        <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1571866518/tools/m1.png" style="width:100px">

      </div>

      <div style="height:100%;width:45%;padding:15px;border-radius:3px">
        <div style="font-size:24px;color:#646C9A;font-weight:600">
          12
        </div>
        <div style="color:#74788d">
          Riders Disponibles
        </div>

        <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1571866693/tools/m2.png" style="width:100px">
      </div>

    </div>




    <div
      style="border-radius:3px;padding:0px;height:45%;width:430px;display:flex;align-items:center;justify-content:space-between">

      <div style="height:100%;width:45%;padding:15px;border-radius:3px">
        <div style="font-size:24px;color:#646C9A;font-weight:600">
          142
        </div>
        <div style="color:#74788d">
          Total Pedidos Express
        </div>
      </div>

      <div style="height:100%;width:45%;padding:15px;border-radius:3px">
        <div style="font-size:24px;color:#646C9A;font-weight:600">
          46
        </div>
        <div style="color:#74788d">
          Total Pedidos Programados
        </div>
      </div>

    </div>

  </div>

</div>






<div
  style="padding-left:15px;padding-right:15px;margin-top:30px;display:flex;align-items:flex-start;justify-content:space-between;width:100%">

  <div style="border-radius:3px;border: 1px solid #ccc;;padding:15px">

    <div style="width:100%;display:flex;align-items:center;justify-content:space-between">
      <div style="font-size:18px;color:#444">
        <i class="fas fa-bolt" style="margin-right:5px;color:#666"></i>
        Pedidos express
      </div>
      <i class="fas fa-ellipsis-v" style="color:#555;font-size:18px"></i>
    </div>
    <div style="width:400px">
      <div class="chart">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>



  <div style="border-radius:3px;border: 1px solid #ccc;padding:15px">

    <div style="width:100%;display:flex;align-items:center;justify-content:space-between">
      <div style="font-size:18px;color:#444">
        <i class="far fa-clock" style="margin-right:5px;color:#666"></i>
        Pedidos programados
      </div>
      <i class="fas fa-ellipsis-v" style="color:#555;font-size:18px"></i>
    </div>
    <div style="width:400px">
      <div class="chart">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
</div>





<div *ngIf="showBusqueda"
  style="z-index:990;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;">
  <div
    style="position:relative;padding:40px;padding-left:40px;padding-right:60px;background:white;box-shadow: 0 0 15px #999;border-radius:4px">
    <div (click)="close_busqueda()" style="position:absolute;top:-5px;right:-5px;color:#555">
      <i class="fas fa-times-circle" style="font-size:32px"></i>
    </div>
    <div style="display:flex;align-items:center;font-weight:550">
      <i class="fas fa-search" style="font-size:30px;color:#bbb;margin-right:10px"></i>
      Búsqueda
    </div>

    <div style="margin-top:20px">
      Periodo
    </div>
    <div style="display:flex;border:1px solid #eee;padding:5px">
      <div style="border-right:1px solid #eee;padding:7px;padding-top:0px;padding-bottom:0px">
        <div style="font-size:14px;margin-bottom:-5px;">
          Inicio
        </div>
        <div>
          <i class="far fa-calendar" style="color:#bbb;margin-right:5px"></i>
          <input id="date" type="date" [(ngModel)]="filtro.diaInput.start" />
        </div>
      </div>
      <div style="padding:7px;padding-top:0px;padding-bottom:0px">
        <div style="font-size:14px;margin-bottom:-5px;">
          Término
        </div>
        <div>
          <i class="far fa-calendar" style="color:#bbb;margin-right:5px"></i>
          <input id="date" type="date" [(ngModel)]="filtro.diaInput.end" />
        </div>
      </div>
    </div>
    <div style="margin-top:30px"></div>

    <button (click)="buscar()" type="button" class="btn btn-outline-primary btn-block">
      Buscar
    </button>
  </div>
</div>