<div *ngIf="_control.map_filtros"
  style="z-index:990;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;">
  <div
    style="position:relative;padding:40px;padding-left:40px;padding-right:60px;background:white;box-shadow: 0 0 15px #999;border-radius:4px">
    <div (click)="close('filtros')" style="position:absolute;top:-5px;right:-5px;color:#555">
      <i class="fas fa-times-circle" style="font-size:32px"></i>
    </div>
    <div style="display:flex;align-items:center;font-weight:550">
      <i class="fas fa-filter" style="font-size:30px;color:#bbb;margin-right:10px"></i>
      Filtros
    </div>

    <div style="margin-top:20px">
      Tipo de vehículo
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label (click)="filtro.vehiculo.field = 'vehiculo'; filtro.vehiculo.value = 'bici'" class="btn btn-light"
        [ngClass]="{'active': filtro.vehiculo.value == 'bici'}">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Bicicleta
      </label>
      <label (click)="filtro.vehiculo.field = 'vehiculo'; filtro.vehiculo.value = 'moto'" class="btn btn-light"
        [ngClass]="{'active': filtro.vehiculo.value == 'moto'}">
        <input type="radio" name="options" id="option2" autocomplete="off"> Moto
      </label>
      <label (click)="filtro.vehiculo.field = 'todo'; filtro.vehiculo.value = 'todo'" class="btn btn-light active"
        [ngClass]="{'active': filtro.vehiculo.value == 'todo'}">
        <input type="radio" name="options" id="option3" autocomplete="off"> Todo
      </label>
    </div>

    <div style="margin-top:20px">
      Actividad
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label (click)="filtro.actividad.field = 'actividad'; filtro.actividad.value = 'disponible'" class="btn btn-light"
        [ngClass]="{'active': filtro.actividad.value == 'disponible'}">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Disponible
      </label>
      <label (click)="filtro.actividad.field = 'actividad'; filtro.actividad.value = 'ocupado'" class="btn btn-light"
        [ngClass]="{'active': filtro.actividad.value == 'ocupado'}">
        <input type="radio" name="options" id="option2" autocomplete="off"> Realizando pedido
      </label>
      <label (click)="filtro.actividad.field = 'todo'; filtro.actividad.value = 'todo'" class="btn btn-light"
        [ngClass]="{'active': filtro.actividad.value == 'todo'}">
        <input type="radio" name="options" id="option3" autocomplete="off"> Todo
      </label>
    </div>

    <div style="margin-top:20px">
      Relación
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label (click)="filtro.relacion.field = 'relacion'; filtro.relacion.value = 'contrato'" class="btn btn-light"
        [ngClass]="{'active': filtro.relacion.value == 'contrato'}">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Contrato
      </label>
      <label (click)="filtro.relacion.field = 'relacion'; filtro.relacion.value = 'servicio'" class="btn btn-light"
        [ngClass]="{'active': filtro.relacion.value == 'servicio'}">
        <input type="radio" name="options" id="option2" autocomplete="off"> Prestación de servicio
      </label>
      <label (click)="filtro.relacion.field = 'todo'; filtro.relacion.value = 'todo'" class="btn btn-light"
        [ngClass]="{'active': filtro.relacion.value == 'todo'}">
        <input type="radio" name="options" id="option3" autocomplete="off"> Todo
      </label>
    </div>

    <div style="margin-top:30px"></div>

    <button (click)="filtrar()" type="button" class="btn btn-outline-primary btn-block">
      Aplicar filtros
    </button>

  </div>
</div>











<div *ngIf="_global.show_tarifas_noche"
  style="margin-top:0px;overflow-y:scroll;z-index:990;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:flex-start;justify-content:center;">
  <div
    style="margin-top:25px;margin-bottom:30px;position:relative;width:450px;background:white;box-shadow: 0 0 15px #999;border-radius:4px;">

    <div
      style="padding:20px;width:100%;display:flex;justify-content:space-between;align-items:center;background:#626ed4">
      <div style="display:flex;align-items:center">
        <i class="fas fa-moon" style="font-size:20px;margin-right:10px;color:white"></i>
        <div style="color:white;font-size:20px">
          Tarfias Nocturnas
        </div>
      </div>
      <div (click)="_global.closeTarifas()"
        style="width:40px;height:40px;border-radius:50%;display:flex;align-items:center;justify-content:center">
        <i class="fas fa-times" style="font-size:22px;color:rgba(255,255,255,.5)!important"></i>
      </div>
    </div>

    <div style="padding:30px">

      <div style="color:#555;font-size:15px;width:100%;font-weight:600">
        TARIFAS PARA MOTOS
      </div>

      <div style="margin-top:20px;width:100%;display:flex;align-items:center;justify-content:space-between">
        <div>
          <div style="margin-top:0px">
            Base
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.noche.moto.base"
              [(ngModel)]="_global.tarifas_temp.noche.moto.base" />
          </div>
        </div>

        <div>
          <div style="margin-top:0px">
            Mínima
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.noche.moto.minima"
              [(ngModel)]="_global.tarifas_temp.noche.moto.minima" />
          </div>
        </div>
        <div>
          <div style="margin-top:0px">
            Por distancia
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.noche.moto.distancia"
              [(ngModel)]="_global.tarifas_temp.noche.moto.distancia" />
          </div>
        </div>

      </div>

      <div style="margin-top:20px">
        Límite aplicación tarifa mínima
      </div>

      <div
        style="margin-top:0px;padding:4px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:center;width:200px">
        <i (click)="changeLimiteTarifaMinima('-', 'moto', 'noche')" class="fas fa-angle-left"
          style="color:#bbb;font-size:25px;margin-right:15px"></i>
        <div style="padding:10px">
          {{_global.tarifas_temp.noche.moto.limite / 1000}} km
        </div>
        <i (click)="changeLimiteTarifaMinima('+', 'moto', 'noche')" class="fas fa-angle-right"
          style="color:#bbb;font-size:25px;margin-left:15px"></i>
      </div>

      <div style="margin-top:30px;color:#555;font-size:15px;font-weight:600">
        TARIFAS PARA BICICLETAS
      </div>

      <div style="margin-top:20px;width:100%;display:flex;align-items:center;justify-content:space-between">
        <div>
          <div style="margin-top:0px">
            Base
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.noche.bici.base"
              [(ngModel)]="_global.tarifas_temp.noche.bici.base" />
          </div>
        </div>
        <div>
          <div style="margin-top:0px">
            Mínima
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.noche.bici.minima"
              [(ngModel)]="_global.tarifas_temp.noche.bici.minima" />
          </div>
        </div>
        <div>
          <div style="margin-top:0px">
            Por distancia
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.noche.bici.distancia"
              [(ngModel)]="_global.tarifas_temp.noche.bici.distancia" />
          </div>
        </div>
      </div>

      <div style="margin-top:20px">
        Límite aplicación tarifa mínima
      </div>

      <div
        style="margin-top:0px;padding:4px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:center;width:200px">
        <i (click)="changeLimiteTarifaMinima('-', 'bici', 'noche')" class="fas fa-angle-left"
          style="color:#bbb;font-size:25px;margin-right:15px"></i>
        <div style="padding:10px">
          {{_global.tarifas_temp.noche.bici.limite / 1000}} km
        </div>
        <i (click)="changeLimiteTarifaMinima('+', 'bici', 'noche')" class="fas fa-angle-right"
          style="color:#bbb;font-size:25px;margin-left:15px"></i>
      </div>

      <div style="margin-top:30px"></div>

      <button (click)="_global.actualizarTarifas()" type="button" class="btn btn-outline-primary btn-block">
        Actualizar tarifas
      </button>
    </div>

  </div>
</div>







<div *ngIf="_global.show_tarifas_dia"
  style="margin-top:0px;overflow-y:scroll;z-index:990;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:flex-start;justify-content:center;">
  <div
    style="margin-top:25px;margin-bottom:30px;position:relative;width:450px;background:white;box-shadow: 0 0 15px #999;border-radius:4px;">

    <div
      style="padding:20px;width:100%;display:flex;justify-content:space-between;align-items:center;background:#626ed4">
      <div style="display:flex;align-items:center">
        <i class="fas fa-sun" style="font-size:20px;margin-right:10px;color:white"></i>
        <div style="color:white;font-size:20px">
          Tarfias Diurnas
        </div>
      </div>
      <div (click)="_global.closeTarifas()"
        style="width:40px;height:40px;border-radius:50%;display:flex;align-items:center;justify-content:center">
        <i class="fas fa-times" style="font-size:22px;color:rgba(255,255,255,.5)!important"></i>
      </div>
    </div>

    <div style="padding:30px">

      <div style="color:#555;font-size:15px;width:100%;font-weight:600">
        TARIFAS PARA MOTOS
      </div>

      <div style="margin-top:20px;width:100%;display:flex;align-items:center;justify-content:space-between">
        <div>
          <div style="margin-top:0px">
            Base
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.dia.moto.base"
              [(ngModel)]="_global.tarifas_temp.dia.moto.base" />
          </div>
        </div>

        <div>
          <div style="margin-top:0px">
            Mínima
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.dia.moto.minima"
              [(ngModel)]="_global.tarifas_temp.dia.moto.minima" />
          </div>
        </div>
        <div>
          <div style="margin-top:0px">
            Por distancia
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.dia.moto.distancia"
              [(ngModel)]="_global.tarifas_temp.dia.moto.distancia" />
          </div>
        </div>

      </div>

      <div style="margin-top:20px">
        Límite aplicación tarifa mínima
      </div>

      <div
        style="margin-top:0px;padding:4px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:center;width:200px">
        <i (click)="changeLimiteTarifaMinima('-', 'moto', 'dia')" class="fas fa-angle-left"
          style="color:#bbb;font-size:25px;margin-right:15px"></i>
        <div style="padding:10px">
          {{_global.tarifas_temp.dia.moto.limite / 1000}} km
        </div>
        <i (click)="changeLimiteTarifaMinima('+', 'moto', 'dia')" class="fas fa-angle-right"
          style="color:#bbb;font-size:25px;margin-left:15px"></i>
      </div>

      <div style="margin-top:30px;color:#555;font-size:15px;font-weight:600">
        TARIFAS PARA BICICLETAS
      </div>

      <div style="margin-top:20px;width:100%;display:flex;align-items:center;justify-content:space-between">
        <div>
          <div style="margin-top:0px">
            Base
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.dia.bici.base"
              [(ngModel)]="_global.tarifas_temp.dia.bici.base" />
          </div>
        </div>
        <div>
          <div style="margin-top:0px">
            Mínima
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.dia.bici.minima"
              [(ngModel)]="_global.tarifas_temp.dia.bici.minima" />
          </div>
        </div>
        <div>
          <div style="margin-top:0px">
            Por distancia
          </div>
          <div
            style="margin-top:0px;padding:4px;padding-left:10px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:space-between;width:100px">
            $
            <input type="text" [placeholder]="_global.tarifas_temp.dia.bici.distancia"
              [(ngModel)]="_global.tarifas_temp.dia.bici.distancia" />
          </div>
        </div>
      </div>

      <div style="margin-top:20px">
        Límite aplicación tarifa mínima
      </div>

      <div
        style="margin-top:0px;padding:4px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;justify-content:center;width:200px">
        <i (click)="changeLimiteTarifaMinima('-', 'bici', 'dia')" class="fas fa-angle-left"
          style="color:#bbb;font-size:25px;margin-right:15px"></i>
        <div style="padding:10px">
          {{_global.tarifas_temp.dia.bici.limite / 1000}} km
        </div>
        <i (click)="changeLimiteTarifaMinima('+', 'bici', 'dia')" class="fas fa-angle-right"
          style="color:#bbb;font-size:25px;margin-left:15px"></i>
      </div>

      <div style="margin-top:30px"></div>

      <button (click)="_global.actualizarTarifas()" type="button" class="btn btn-outline-primary btn-block">
        Actualizar tarifas
      </button>
    </div>

  </div>
</div>















<div *ngIf="_control.reiniciar_rider"
  style="margin-top:0px;overflow-y:scroll;z-index:990;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:flex-start;justify-content:center;">
  <div
    style="margin-top:25px;margin-bottom:30px;position:relative;width:500px;background:white;box-shadow: 0 0 15px #999;border-radius:4px;">

    <div
      style="padding:20px;width:100%;display:flex;justify-content:space-between;align-items:center;background:#626ed4">
      <div style="display:flex;align-items:center">
        <i class="fas fa-pencil-alt" style="font-size:20px;margin-right:10px;color:white"></i>
        <div style="color:white;font-size:20px">
          Reinicar Rider
        </div>
      </div>
      <div (click)="_control.reiniciar_rider = false"
        style="width:40px;height:40px;border-radius:50%;display:flex;align-items:center;justify-content:center">
        <i class="fas fa-times" style="font-size:22px;color:rgba(255,255,255,.5)!important"></i>
      </div>
    </div>

    <div style="padding:30px">

      <div>
        Teléfono
      </div>

      <div
        style="margin-top:0px;padding:4px;border-radius:4px;border:1px solid #eee;display:flex;align-items:center;width:400px">
        <div style="background:#eee;color:#555;padding:3px;width:60px">
          +56 9
        </div>
        <input type="tel" placeholder="" [(ngModel)]="telefono" />
      </div>

      <div style="font-size:16px;margin-top:20px">
        Seleccione un caso:
      </div>

      <div style="margin-top:10px;display:flex;justify-content:flex-start;align-items:flex-start">
        <i *ngIf="caso == 'Entrego con éxito'" class="far fa-dot-circle"
          style="margin-top:5px;color:dodgerblue;font-size:18px;margin-right:20px"></i>
        <i *ngIf="caso != 'Entrego con éxito'" class="far fa-circle"
          style="margin-top:5px;color:#bbb;font-size:18px;margin-right:20px"></i>

        <div>
          <a (click)="caso = 'Entrego con éxito'" style="font-size:16px;font-weight:600">
            Entrego el pedido
          </a>
          <div style="margin-top:5px;font-size:14.5px;color:#888">
            <span style="font-weight:500;color:lightcoral">Situación:</span>
            El rider entrego el pedido pero no informó al sistema debido a una falla (su teléfono quedo sin baterias,
            se le terminó el plan de datos, etc.).
          </div>
          <div style="margin-top:5px;font-size:14.5px;color:#888">
            <span style="font-weight:500;color:lightcoral">Acción:</span>
            El pedido se marcará como entregado y el rider será reiniciado para recibir nuevos pedidos.
          </div>
        </div>
      </div>

      <div style="margin-top:30px;display:flex;justify-content:flex-start;align-items:flex-start">
        <i *ngIf="caso == 'No completo el pedido'" class="far fa-dot-circle"
          style="margin-top:5px;color:dodgerblue;font-size:18px;margin-right:20px"></i>
        <i *ngIf="caso != 'No completo el pedido'" class="far fa-circle"
          style="margin-top:5px;color:#bbb;font-size:18px;margin-right:20px"></i>
        <div>
          <a (click)="caso = 'No completo el pedido'" style="font-size:16px;font-weight:600">
            No completo el pedido
          </a>
          <div style="margin-top:5px;font-size:14.5px;color:#888">
            <span style="font-weight:500;color:lightcoral">Situación:</span>
            El rider por algun motivo (accidente, robo, etc.) no logró completar el pedido.
          </div>
          <div style="margin-top:5px;font-size:14.5px;color:#888">
            <span style="font-weight:500;color:lightcoral">Acción:</span>
            El pedido quedará anulado y el rider será reiniciado para recibir nuevos pedidos.
          </div>
        </div>
      </div>

      <div style="margin-top:30px;display:flex;justify-content:flex-start;align-items:flex-start">
        <i *ngIf="caso == 'No confirmó el pedido'" class="far fa-dot-circle"
          style="margin-top:5px;color:dodgerblue;font-size:18px;margin-right:20px"></i>
        <i *ngIf="caso != 'No confirmó el pedido'" class="far fa-circle"
          style="margin-top:5px;color:#bbb;font-size:18px;margin-right:20px"></i>
        <div>
          <a (click)="caso = 'No confirmó el pedido'" style="font-size:16px;font-weight:600">
            El cliente no confirmó el pedido
          </a>
          <div style="margin-top:5px;font-size:14.5px;color:#888">
            <span style="font-weight:500;color:lightcoral">Situación:</span>
            El cliente ha demorado mucho (5 min o más) en confirmar el pedido.
          </div>
          <div style="margin-top:5px;font-size:14.5px;color:#888">
            <span style="font-weight:500;color:lightcoral">Acción:</span>
            El rider será reiniciado para recibir nuevos
            pedidos.
          </div>
        </div>
      </div>


      <div style="margin-top:30px"></div>

      <button (click)="aplicarReset()" type="button" class="btn btn-outline-primary btn-block">
        Aplicar
      </button>
    </div>


  </div>
</div>