<div *ngIf="isAuth" style="z-index:999;position:fixed;top:0px;left:0px;width:20%;height:100%">

  <div style="background:#262A34;height:100%;box-shadow:7px 0 60px rgba(0, 0, 0, 0.05)">


    <div style="width:100%;display:flex;justify-content:center;background:#1E2129">
      <div style="margin-top:20px;margin-bottom:10px;display:flex;align-items:Center">
        <div style="margin-top:20px;margin-bottom:50px;color:white;font-weight:600">
          PANEL DE CONTROL
        </div>
      </div>
    </div>

    <div style="padding:20px;color:rgba(255,255,255,.5)!important;font-size:14px;width:100%">
      APLICACIONES
    </div>


    <hr style="border-top:1px solid rgba(255,255,255,.15)">

    <div style="padding:0px">


        <a (click)="openPage('mapa')" class="box" [ngClass]="{'box-active': _control.isMapa}">
              <i class="fas fa-map-marked-alt icon-left" [ngClass]="{'active': _control.isMapa}"></i>
              <div class="text" [ngClass]="{'active': _control.isMapa}">
                Mapa
              </div>
          </a>

          <a (click)="openPage('riders')" class="box" [ngClass]="{'box-active': _control.isRiders}">
              <i class="fas fa-motorcycle icon-left" [ngClass]="{'active': _control.isRiders}"></i>
              <div class="text" [ngClass]="{'active': _control.isRiders}">
                Riders
              </div>
          </a>


          <a (click)="openPage('empresas')" class="box" [ngClass]="{'box-active': _control.isEmpresas}">
              <i class="fas fa-building icon-left" [ngClass]="{'active': _control.isEmpresas}"></i>
              <div class="text" [ngClass]="{'active': _control.isEmpresas}">
                Empresas
              </div>
          </a>


      <hr style="border-top:1px solid rgba(255,255,255,.15)">

    </div>

  </div>

</div>








<div *ngIf="isAuth" style="z-index:15;position:fixed;top:0px;left:0px;width:100%;">
  <div
    style="padding:15px;padding-left:22%;box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);width:100%;background:#FAFBFC;height:60px;display:flex;align-items:center;justify-content:space-between">

    <i class="fas fa-bars" style="font-size:20px;color:#555"></i>


    <div *ngIf="_control.isMapa" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="far fa-clock" style="font-size:20px;color:#777"></i>
        <span style="color:gray;margin-left:5px">Tarifas</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" (click)="openPopup('tarifa noche')" style="color:gray">
          <div style="margin-top:5px;margin-bottom:5px">
            Tarifa nocturna
          </div>
        </a>
        <a class="dropdown-item" (click)="openPopup('tarifa dia')" style="color:gray">
          <div style="margin-top:5px;margin-bottom:5px">
            Tarifa diurna
          </div>
        </a>
        <a class="dropdown-item" (click)="openPopup('horario')" style="color:gray">
          <div style="margin-top:5px;margin-bottom:5px">
            Horario de cambio
          </div>
        </a>
      </div>
    </div>


    <div *ngIf="_control.isMapa" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-map-marker-alt" style="font-size:20px;color:#777"></i>
        <span style="color:gray;margin-left:5px">Santiago</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" style="color:gray">
          Santiago
        </a>
      </div>
    </div>



    <div *ngIf="_control.isMapa" style="display:flex;align-items:center">
      <div
        style="background:white;border:1px solid #eee;border-radius:5px;padding:0px;padding-left:4px;display:flex;align-items:center;margin-right:10px">
        <div
          style="border-radius:4px 0px 0px 4px;width:55px;background:#eee;color:#555;padding:3px;display:flex;align-items:center;justify-content:center">
          +56 9
        </div>
        <input type="text" placeholder="Teléfono" [(ngModel)]="telefono" />
      </div>

      <button (click)="trackRider()" type="button" class="btn btn-outline-secondary">
        <i class="fas fa-location-arrow"></i>
        Seguir
      </button>
    </div>


    <a *ngIf="_control.isMapa" (click)="openPopup('filtros')"
      style="background:#eee;width:45px;height:45px;border-radius:50%;display:flex;align-items:center;justify-content:center">
      <i class="fas fa-filter" style="font-size:20px;color:#bbb"></i>
    </a>


    <div style="border-left:1px solid #eee;padding-left:10px;display:flex;align-items:center">
      <div class="nav-item dropdown" style="margin-top:10px;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="https://i.redd.it/vtpfvbqe54a21.png"
            style="margin-bottom:10px;width:40px;height:40px;border-radius:50%;object-fit:cover;">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div style="padding:20px;display:flex;align-items:center;width:300px">
            <img src="https://i.redd.it/vtpfvbqe54a21.png"
              style="width:50px;height:50px;border-radius:50%;object-fit:cover;">
            <div style="margin-left:20px">
              Oscar Garcia Fuentes
              <div>
                poimsm@gmail.com
              </div>
            </div>
          </div>
          <a class="dropdown-item" (click)="openPage('usuario')" style="color:gray">
            <div style="margin-top:5px;margin-bottom:5px">
              <i class="fas fa-cog" style="margin-right:5px;color:#bbb"></i>
              Configuraciones
            </div>
          </a>
          <a class="dropdown-item" (click)="logout()" style="color:gray">
            <div style="margin-top:5px;margin-bottom:5px">
              <i class="fas fa-sign-in-alt" style="margin-right:5px;color:#bbb"></i>
              Salir
            </div>
          </a>
        </div>
      </div>
      <div style="margin-right:20px">
        Oscar Garcia
      </div>
      <a (click)="logout()"
        style="margin-right:20px;border:1px solid #eee;border-radius:6px;padding:4px;padding-left:10px;padding-right:10px">
        <i class="fas fa-sign-in-alt" style="color:#bbb;margin-right:10px"></i>
        Salir
      </a>
    </div>

  </div>

</div>




<div *ngIf="isAuth" style="margin-top:100px;margin-left:20%;">
  <div style="margin:25px;background:#F9FAFB">
    <router-outlet></router-outlet>
  </div>
</div>






<app-login *ngIf="!isAuth"></app-login>
<app-popups-home *ngIf="showPopups"></app-popups-home>




<div style="z-index:999;position:fixed;bottom:40px;right:60px;">
  <div
    style="height:60px;width:60px;border-radius:50%;background:#222;display:flex;align-items:center;justify-content:center">
    <i class="fas fa-times" style="color:white;font-size:20px"></i>
  </div>
</div>