<div *ngIf="isAuth" style="z-index:980;position:fixed;top:0px;left:0px;height:100%"
  [ngStyle]="{'width': _control.stretched ? '90px':'250px'}">

  <div style="background:#333547;height:100%;box-shadow:7px 0 60px rgba(0, 0, 0, 0.05)">


    <div style="width:100%;display:flex;justify-content:center;background:#333547">
      <div style="margin-top:20px;margin-bottom:10px;display:flex;align-items:Center">
        <div *ngIf="!_control.stretched" style="margin-top:20px;margin-bottom:50px;color:white;font-weight:600">
          PANEL DE CONTROL
        </div>
        <div *ngIf="_control.stretched" style="margin-top:20px;margin-bottom:50px;color:white;font-weight:600">
          CONTROL
        </div>
      </div>
    </div>

    <hr style="border-top:1px solid rgba(255,255,255,.15)">


    <div *ngIf="!_control.stretched"
      style="padding:20px;color:rgba(255,255,255,.5)!important;font-size:14px;width:100%">
      APLICACIONES
    </div>

    <div *ngIf="_control.stretched" style="padding:20px;color:rgba(255,255,255,.5)!important;font-size:14px;width:100%">
      APPS
    </div>


    <hr style="border-top:1px solid rgba(255,255,255,.15)">

    <div style="padding:0px">


      <a (click)="openPage('mapa')" class="box" [ngClass]="{'box-active': _control.isMapa}">
        <i class="fas fa-map-marked-alt icon-left" [ngClass]="{'active': _control.isMapa}"></i>
        <div *ngIf="!_control.stretched" class="text" [ngClass]="{'active': _control.isMapa}">
          Mapa
        </div>
      </a>

      <a (click)="openPage('graficas')" class="box" [ngClass]="{'box-active': _control.isGraficas}">
        <i class="fas fa-chart-line icon-left" [ngClass]="{'active': _control.isGraficas}"></i>
        <div *ngIf="!_control.stretched" class="text" [ngClass]="{'active': _control.isGraficas}">
          Gráficas
        </div>
      </a>

      <a (click)="openPage('taximetro')" class="box" [ngClass]="{'box-active': _control.isTaximetro}">
        <i class="fas fa-map-marker-alt icon-left" [ngClass]="{'active': _control.isTaximetro}"></i>
        <div *ngIf="!_control.stretched" class="text" [ngClass]="{'active': _control.isTaximetro}">
          Taximetro
        </div>
      </a>

      <a (click)="openPage('riders')" class="box" [ngClass]="{'box-active': _control.isRiders}">
        <i class="fas fa-motorcycle icon-left" [ngClass]="{'active': _control.isRiders}"></i>
        <div *ngIf="!_control.stretched" class="text" [ngClass]="{'active': _control.isRiders}">
          Riders
        </div>
      </a>


      <a (click)="openPage('empresas')" class="box" [ngClass]="{'box-active': _control.isEmpresas}">
        <i class="fas fa-building icon-left" [ngClass]="{'active': _control.isEmpresas}"></i>
        <div *ngIf="!_control.stretched" class="text" [ngClass]="{'active': _control.isEmpresas}">
          Empresas
        </div>
      </a>


      <hr style="border-top:1px solid rgba(255,255,255,.15)">

    </div>

  </div>

</div>






<div *ngIf="_control.isTaximetro"
  style="z-index:999;border-top:1px solid #eee;position:fixed;left:90px;top:60px;width:290px;background:rgb(250, 251, 252);height:100%;padding:20px">

  <div style="font-size:14px;color:#555;font-weight:500">
    LOCALIZACIÓN
  </div>

  <input #origin [(ngModel)]="origin_address" (ngModelChange)="updateSearchResults('origin')"
    placeholder="Dirección de inicio" style="border:1px solid #eee;width:250px;font-size:14px;margin-top:10px" />

  <div [hidden]="origin_items.length == 0"
    style="background:white;border:1px solid #eee;border-top:0px;border-radius:2px">
    <a *ngFor="let item of origin_items"
      style="padding:5px;width:100%;display:flex;align-items:flex-start;font-size:14px;">
      <div (click)="selectSearchResult(item, 'origin')">
        {{ item.description }}
      </div>
    </a>
  </div>

  <input #destination [(ngModel)]="destination_address" (ngModelChange)="updateSearchResults('destination')"
    placeholder="Dirección de destino" style="border:1px solid #eee;width:250px;font-size:14px;margin-top:10px" />

  <div [hidden]="destination_items.length == 0"
    style="background:white;border:1px solid #eee;border-top:0px;border-radius:2px">
    <a *ngFor="let item of destination_items"
      style="padding:5px;width:100%;display:flex;align-items:flex-start;font-size:14px;">
      <div (click)="selectSearchResult(item, 'destination')">
        {{ item.description }}
      </div>
    </a>
  </div>

  <div *ngIf="showCosto">

    <div style="margin-top:20px;font-size:14px;color:#555;font-weight:500">
      COSTO
    </div>

    <div *ngIf="!isLoading">


      <div style="display:flex;align-items:flex-start;margin-top:10px;font-size:14px">
        <i class="fas fa-map-marker-alt" style="margin-top:5px;color:#f783ac;margin-right:10px"></i>
        {{direccion_origen}}
      </div>

      <div style="display:flex;align-items:flex-start;margin-top:10px;font-size:14px">
        <i class="fas fa-map-marker-alt" style="margin-top:5px;color:#f783ac;margin-right:10px"></i>
        {{direccion_destino}}
      </div>

      <div style="color:#555;font-size:15px;margin-top:20px;display:flex">
        <div style="margin-right:100px;width:70px">
          Distancia:
        </div>
        <div>
          {{costoData.distancia / 1000}} km
        </div>
      </div>

      <div style="color:#555;font-size:15px;margin-top:10px;display:flex">
        <div style="margin-right:100px;width:70px">
          Bicicleta:
        </div>
        <div>
          ${{costoData.precioBici}}
        </div>
      </div>

      <div style="color:#555;font-size:15px;margin-top:10px;display:flex">
        <div style="margin-right:100px;width:70px">
          Moto:
        </div>
        <div>
          ${{costoData.precioMoto}}
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="isLoading" style="margin-top:20px;width:100%;display:flex;justify-content:center">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div (click)="calcular()" style="margin-top:20px;margin-bottom:10px">
    <button type="button" class="btn btn-outline-secondary btn-block">
      Calcular
    </button>
  </div>

</div>






<div *ngIf="isAuth" style="z-index:15;position:fixed;top:0px;left:0px;width:100%;">
  <div [ngStyle]="{'padding-left': _control.stretched ? '110px':'280px'}"
    style="padding:15px;box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);width:100%;background:#FAFBFC;height:60px;display:flex;align-items:center;justify-content:space-between">

    <a (click)="_control.stretched = ! _control.stretched" style="padding:5px">
      <i class="fas fa-bars" style="font-size:20px;color:#555"></i>
    </a>

    <div *ngIf="_control.isMapa" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="far fa-clock" style="font-size:20px;color:#777"></i>
        <span style="color:gray;margin-left:5px">Tarifas</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" (click)="openPopup('tarifa noche')" style="color:gray">
          <div style="margin-top:5px;margin-bottom:5px">
            Tarifa nocturna
          </div>
        </a>
        <a class="dropdown-item" (click)="openPopup('tarifa dia')" style="color:gray">
          <div style="margin-top:5px;margin-bottom:5px">
            Tarifa diurna
          </div>
        </a>
        <a class="dropdown-item" (click)="openPopup('horario')" style="color:gray">
          <div style="margin-top:5px;margin-bottom:5px">
            Horario de cambio
          </div>
        </a>
      </div>
    </div>


    <div *ngIf="_control.isMapa" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-map-marker-alt" style="font-size:20px;color:#777"></i>
        <span style="color:gray;margin-left:5px">Santiago</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" style="color:gray">
          Santiago
        </a>
      </div>
    </div>


    <div *ngIf="_control.isMapa" style="display:flex;align-items:center">
      <div
        style="background:white;border:1px solid #eee;border-radius:5px;padding:0px;padding-left:4px;display:flex;align-items:center;margin-right:10px">
        <div
          style="border-radius:4px 0px 0px 4px;width:50px;background:#eee;color:#555;padding:3px;display:flex;align-items:center;justify-content:center">
          ID
        </div>
        <input type="text" placeholder="Escriba ID pedido" [(ngModel)]="pedidoID" />
      </div>

      <button (click)="trackRider()" type="button" class="btn btn-outline-secondary">
        <i class="fas fa-location-arrow"></i>
        Seguir
      </button>
    </div>


    <a *ngIf="_control.isMapa" (click)="openPopup('filtros')"
      style="background:#eee;width:45px;height:45px;border-radius:50%;display:flex;align-items:center;justify-content:center">
      <i class="fas fa-filter" style="font-size:20px;color:#bbb"></i>
    </a>


    <div style="border-left:1px solid #eee;padding-left:10px;display:flex;align-items:center">
      <div class="nav-item dropdown" style="margin-top:10px;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="https://i.redd.it/vtpfvbqe54a21.png"
            style="margin-bottom:10px;width:40px;height:40px;border-radius:50%;object-fit:cover;">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div style="padding:20px;display:flex;align-items:center;width:300px">
            <img src="https://i.redd.it/vtpfvbqe54a21.png"
              style="width:50px;height:50px;border-radius:50%;object-fit:cover;">
            <div style="margin-left:20px">
              {{usuario?.nombre}}
              <div>
                {{usuario?.email}}
              </div>
            </div>
          </div>
          <a class="dropdown-item" (click)="openPage('usuario')" style="color:gray">
            <div style="margin-top:5px;margin-bottom:5px">
              <i class="fas fa-cog" style="margin-right:5px;color:#bbb"></i>
              Configuraciones
            </div>
          </a>
          <a class="dropdown-item" (click)="logout()" style="color:gray">
            <div style="margin-top:5px;margin-bottom:5px">
              <i class="fas fa-sign-in-alt" style="margin-right:5px;color:#bbb"></i>
              Salir
            </div>
          </a>
        </div>
      </div>
      <div style="margin-right:20px;width:100px;height:25px;overflow:hidden">
        {{usuario?.nombre}}
      </div>
      <!-- <a (click)="logout()"
        style="margin-right:20px;border:1px solid #eee;border-radius:6px;padding:4px;padding-left:10px;padding-right:10px">
        <i class="fas fa-sign-in-alt" style="color:#bbb;margin-right:10px"></i>
        Salir
      </a> -->
    </div>

  </div>

</div>




<div *ngIf="isAuth"
  [ngStyle]="{'margin-top': _control.isMapa || _control.isTaximetro ? '70px': '100px', 'margin-left': _control.isTaximetro ? '290px':'0px', 'padding-left': _control.stretched ? '90px':'250px' }">
  <div [ngStyle]="{'margin': _control.isMapa || _control.isTaximetro ? '5px': '25px'}" style="background:#F9FAFB">
    <router-outlet></router-outlet>
  </div>
</div>






<app-login *ngIf="!isAuth"></app-login>
<app-popups-home *ngIf="showPopups"></app-popups-home>




<div *ngIf="_control.isMapa && _control.isTracking" style="z-index:999;position:fixed;bottom:40px;right:60px;">
  <div (click)="refreshMap()"
    style="height:60px;width:60px;border-radius:50%;background:#222;display:flex;align-items:center;justify-content:center">
    <i class="fas fa-times" style="color:white;font-size:20px"></i>
  </div>
</div>




<div *ngIf="_global.isLoading"
  style="z-index:999;background:rgb(50,50,50,0.5);position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>