<agm-map [zoom]="_control.zoom" [latitude]="_control.lat" [longitude]="_control.lng" [streetViewControl]="false">

  <agm-marker *ngFor="let rider of riders" [latitude]="rider.lat" [longitude]="rider.lng" [iconUrl]="rider.icono">
    <agm-info-window>
      <div>
        {{rider.nombre}}
      </div>
      <div>
        +56 9 {{rider.telefono}}
      </div>
      <div *ngIf="rider.actividad == 'ocupado'">
        ID: {{rider.pedido}}
      </div>
    </agm-info-window>
  </agm-marker>

  <agm-direction *ngIf="_control.isTracking" [origin]="_control.origen" [destination]="_control.destino">
  </agm-direction>

</agm-map>